{% extends "layout.html" %}
{% block content %}
<body onload="JavaScript:timedRefresh(500);">
<div class="home">
    <h1>{{status}}</h1>
        <h2 class="display-3" style="font-weight: bold;">Extruder: {{tempTool_current}}/{{tempTool_target}}</h2>
            <h3 class={{toolStatus_safety}}>{{toolStatus}}</h3>
        <h2 class="display-3" style="font-weight: bold;">Bed: {{tempBed_current}}/{{tempBed_target}}</h2>
            <h3 class={{bedStatus_safety}}>{{bedStatus}}</h3> 
</div>
</body>
{% endblock %}