
<form id="settings_plugin_devtest_form" class="form-horizontal">

    <h3>{{ _("OctoPrint Server") }}</h3> 

    <div data-bind="foreach: settings.settings.plugins.devTest" class="control-group">
        <label class="control-label">{{ _('Please provide the (1) server database endpoint, (2) relevant Octoprint API key, and (3) relevant OctoprintServer API key (unique to this printer).') }}</label>
        <div class="controls">
            <label class="text">
                <input type="text" class="input-block-level" data-bind="value: server_endpoint">{{ _('Octoprint Server Endpoint') }}
            </label>
            <label class="text">
                <input type="text" class="input-block-level" data-bind="value: printer_id">{{ _('Printer ID') }}
            </label>
            <label class="text">
                <input type="text" class="input-block-level" data-bind="value: access_key">{{ _('Access Key') }}
            </label>
        </div>
    </div>
</form>

