{% extends "layout.jinja2" %}
{% block content %}
<div>
    <hr />
    <div>
        <!--displays current extruder temp and status summary-->
        <h3 class="display-1" style="font-size: 300%;">Extruder<br /><span style="font-weight:bold; font-size: 200%;">{{tempTool_current}}</span></h3>
        <h3 style="font-size: 250%;"><span class="badge rounded-pill text-bg-dark">{{toolStatus}}</span>&nbsp;<span class="badge rounded-pill text-bg-dark">{{toolState}}</h3><br />
        <!--displays current bed temp and status summary-->
        <h3 class="display-1" style="font-size: 300%;">Bed<br /><span style="font-weight:bold; font-size: 200%;">{{tempBed_current}}</span></h3>
        <h3 style="font-size: 250%;"><span class="badge rounded-pill text-bg-dark">{{bedStatus}}</span>&nbsp;<span class="badge rounded-pill text-bg-dark">{{bedState}}</h3>
    </div>
</div>
{% endblock %}